<div class="container-md screen">

  <p-progressSpinner
    *ngIf="loading"
    class="align-self-center"
    strokeWidth="3"
    animationDuration="1s"></p-progressSpinner>

  <div *ngIf="!loading && (prdcts.length !== 0)" class="w-100 scroll-container"
    infinite-scroll
    (scrolled)="onScrollDown($event)"
    (scrolledUp)="onScrollUp($event)">
    <div class="row row-cols-sm-4 d-flex justify-content-around">
      <div class="col mb-5" *ngFor="let prdct of prdcts">
        
        <app-product-card
          [product]="prdct"></app-product-card>

      </div>
    </div>
  </div>


</div>